# ── Global ───────────────────────────────────────────────────
NODE_ENV=
NEXT_PUBLIC_API_URL=

# ── Ports ────────────────────────────────────────────────────
GATEWAY_PORT=
AUTH_SERVICE_PORT=
USER_SERVICE_PORT=
CAMPAIGN_SERVICE_PORT=
DONATION_SERVICE_PORT=
CERTIFICATE_SERVICE_PORT=
TRANSACTION_SERVICE_PORT=
FRONTEND_PORT=

# ── JWT Secret ───────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRES_IN=
INITIAL_ADMIN_WALLET=

# ── MongoDB ──────────────────────────────────────────────────
MONGO_URI_USERS=
MONGO_URI_CAMPAIGNS=
MONGO_URI_DONATIONS=
MONGO_URI_CERTIFICATES=
MONGO_URI_TRANSACTIONS=

# ── RabbitMQ ─────────────────────────────────────────────────
RABBITMQ_URL=

# ── Internal Service URLs (Docker Network) ───────────────────
AUTH_SERVICE_URL=
USER_SERVICE_URL=
CAMPAIGN_SERVICE_URL=
DONATION_SERVICE_URL=
CERTIFICATE_SERVICE_URL=
TRANSACTION_SERVICE_URL=

# ── Blockchain ───────────────────────────────────────────────
SEPOLIA_RPC_URL=
CROWDFUNDING_CONTRACT_ADDRESS=
ANVIL_RPC_URL=
DEPLOYER_PRIVATE_KEY=

# ── RabbitMQ Exchanges & Queues & Keys ───────────────────────
RABBITMQ_EXCHANGE=

RABBITMQ_QUEUE_CAMP_CREATED=
RABBITMQ_QUEUE_CAMP_CANCELLED=
RABBITMQ_QUEUE_CAMP_DONATED=
RABBITMQ_QUEUE_CAMP_WITHDRAWN=
RABBITMQ_QUEUE_CERT_MINTED=
RABBITMQ_QUEUE_TX_DONATED=
RABBITMQ_QUEUE_DONATED_SVC=

RABBITMQ_RKEY_CAMP_CREATED=
RABBITMQ_RKEY_CAMP_CANCELLED=
RABBITMQ_RKEY_DONATED=
RABBITMQ_RKEY_WITHDRAWN=
RABBITMQ_RKEY_CERT_MINTED=
