# ── Global ───────────────────────────────────────────────────
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:4000

# ── Ports ────────────────────────────────────────────────────
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4006
USER_SERVICE_PORT=4001
CAMPAIGN_SERVICE_PORT=4002
DONATION_SERVICE_PORT=4003
CERTIFICATE_SERVICE_PORT=4004
TRANSACTION_SERVICE_PORT=4005
FRONTEND_PORT=3000

# ── JWT Secret ───────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRES_IN=7d

# ── MongoDB ──────────────────────────────────────────────────
MONGO_URI_USERS=mongodb://mongodb:27017/users
MONGO_URI_CAMPAIGNS=mongodb://mongodb:27017/campaigns
MONGO_URI_DONATIONS=mongodb://mongodb:27017/donations
MONGO_URI_CERTIFICATES=mongodb://mongodb:27017/certificates
MONGO_URI_TRANSACTIONS=mongodb://mongodb:27017/transactions

# ── RabbitMQ ─────────────────────────────────────────────────
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672

# ── Internal Service URLs (Docker Network) ───────────────────
AUTH_SERVICE_URL=http://auth-service:4006
USER_SERVICE_URL=http://user-service:4001
CAMPAIGN_SERVICE_URL=http://campaign-service:4002
DONATION_SERVICE_URL=http://donation-service:4003
CERTIFICATE_SERVICE_URL=http://certificate-service:4004
TRANSACTION_SERVICE_URL=http://transaction-service:4005

# ── Blockchain ───────────────────────────────────────────────
SEPOLIA_RPC_URL=
CROWDFUNDING_CONTRACT_ADDRESS=

# ── RabbitMQ Exchanges & Queues & Keys ───────────────────────
RABBITMQ_EXCHANGE=funding.events

RABBITMQ_QUEUE_CAMP_CREATED=campaign.created.queue
RABBITMQ_QUEUE_CAMP_CANCELLED=campaign.cancelled.queue
RABBITMQ_QUEUE_CAMP_DONATED=campaign.donation.queue
RABBITMQ_QUEUE_CAMP_WITHDRAWN=funds.withdrawn.queue
RABBITMQ_QUEUE_CERT_MINTED=cert.minted.queue
RABBITMQ_QUEUE_TX_DONATED=transaction.donation.queue
RABBITMQ_QUEUE_DONATED_SVC=donation.received.queue

RABBITMQ_RKEY_CAMP_CREATED=campaign.created
RABBITMQ_RKEY_CAMP_CANCELLED=campaign.cancelled
RABBITMQ_RKEY_DONATED=donation.received
RABBITMQ_RKEY_WITHDRAWN=funds.withdrawn
RABBITMQ_RKEY_CERT_MINTED=certificate.minted
