NODE_ENV=
NEXT_PUBLIC_API_URL=

GATEWAY_PORT=
AUTH_SERVICE_PORT=
USER_SERVICE_PORT=
CAMPAIGN_SERVICE_PORT=
DONATION_SERVICE_PORT=
CERTIFICATE_SERVICE_PORT=
TRANSACTION_SERVICE_PORT=
FRONTEND_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

MONGO_URI_USERS=
MONGO_URI_CAMPAIGNS=
MONGO_URI_DONATIONS=
MONGO_URI_CERTIFICATES=
MONGO_URI_TRANSACTIONS=

RABBITMQ_URL=

AUTH_SERVICE_URL=
USER_SERVICE_URL=
CAMPAIGN_SERVICE_URL=
DONATION_SERVICE_URL=
CERTIFICATE_SERVICE_URL=
TRANSACTION_SERVICE_URL=

SEPOLIA_RPC_URL=
CROWDFUNDING_CONTRACT_ADDRESS=
