PORT=4000
NODE_ENV=development

# URL nội bộ các domain services (docker service names)
USER_SERVICE_URL=http://user-service:4001
CAMPAIGN_SERVICE_URL=http://campaign-service:4002
DONATION_SERVICE_URL=http://donation-service:4003
CERTIFICATE_SERVICE_URL=http://certificate-service:4004
TRANSACTION_SERVICE_URL=http://transaction-service:4005
