SEPOLIA_RPC_URL=https://rpc.sepolia.org
# TODO: Điền sau khi deploy smart contract
CROWDFUNDING_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

RABBITMQ_URL=amqp://admin:password@localhost:5672

# URL nội bộ của transaction-service (HTTP REST sync)
TRANSACTION_SERVICE_URL=http://transaction-service:4005
